:root {
  --hue:275deg; /* change hue of picture (320deg) */
  --orangered:orangered;
  --darkorange:darkorange;
  --orange:orange;
  --yellow:yellow;
  --black:black;  
}
* {
  box-sizing:border-box;
}
html {
  background:#788;
}

#canvas {
  position:relative;
  width:600px;
  height:400px;
  background:linear-gradient(to bottom, var(--darkorange) 25%, var(--yellow) 70%, var(--orange) 70%, var(--orangered));
  filter:hue-rotate(var(--hue));
  transform-origin:top center;
  transform:scale(1.5);
  margin:0 auto;
  box-shadow:0 5px 10px rgba(0,0,0,.4);
  border:20px solid white;
}
#canvas:before { /* texture-overlay */
  content:'';
  position:absolute;
  left:-20px;
  top:-20px;
  width:inherit;
  height:inherit;
  border:20px solid white;
  box-sizing:border-box;
  background:radial-gradient(circle, rgba(60,60,60,1) 1px, transparent 1px);
  background-size:3px 3px;
  z-index:2;
  mix-blend-mode:overlay;
  opacity:.25;
}
#canvas:after { /* border-overlay */
  content:'';
  position:absolute;
  left:-20px;
  top:-20px;
  width:inherit;
  height:inherit;
  border:20px solid beige;
  box-sizing:border-box;  
}

.sun {
  width:100px;
  height:100px;
  background:var(--yellow);
  border-radius:50%;
  position:absolute;
  left:45%;
  top:25%;
  filter:blur(1px);
}
.sun:after {
  content:'';
  width:100%;
  height:100%;
  background:var(--yellow);
  border-radius:50%;
  position:absolute;
  top:140%;
  left:0;
  opacity:.25;
  filter:blur(5px);
}

.boat {
  width:80px;
  height:10px;
  background:var(--black);
  z-index:1;
  position:absolute;
  top:67.5%;
  left:75%;
  border-radius:0 25% 50% 5px;
}
.boat:after {
  content:'';
  width:100%;
  height:100px;
  background:var(--black);
  position:absolute;
  bottom:100%;
  left:0;
  clip-path:polygon(33% 0%, 50% 80%, 66% 33%, 90% 100%, 50% 95%, 45% 100%, 50% 90%, 10% 95%, 0% 100%, 10% 90%)
}
.boat_reflection {
  width:80px;
  height:10px;
  background:var(--black);
  z-index:1;
  position:absolute;
  top:70.5%;
  left:75.5%;
  border-radius:0 25% 50% 5px;
  transform:scaleY(-1) skewX(-20deg);
  opacity:.25;
  filter:blur(2px);
}
.boat_reflection:after {
  content:'';
  width:100%;
  height:100px;
  background:linear-gradient(to top, var(--black), transparent);
  position:absolute;
  bottom:100%;
  left:0;
  clip-path:polygon(33% 0%, 50% 80%, 66% 33%, 90% 100%, 50% 95%, 45% 100%, 50% 90%, 10% 95%, 0% 100%, 10% 90%)
}

.ground {
  width:60%;
  height:125px;
  background:var(--black);
  position:absolute;
  bottom:0;
  left:0;
  clip-path:polygon(0% 0%, 25% 10%, 80% 85%, 100% 100%, 0% 100%);
}
.tree {
  width:150px;
  height:200px;
  position:absolute;
  top:25%;
  left:-10%;
  border-radius:50%;
  border-right:10px solid var(--black);
  transform:rotate(0deg);
}

.leaf {
  width:65px;
  height:25px;
  background:var(--black);
  position:absolute;  
  border-radius:75% 25% 50% 0;
  clip-path:polygon(0% 100%, 10% 100%, 15% 50%, 20% 100%, 30% 100%, 30% 70%, 40% 100%, 100% 100%, 100% 0%, 0% 0%);
}

.leaf.one {
  left:40px;
}
.leaf.two {
  left:95px;
  top:-20px;
  transform:scaleX(-1) rotate(25deg);
}
.leaf.three {
  left:100px;
  top:15px;
  transform:scaleX(-1) rotate(-25deg);
}
.leaf.four {
  left:55px;
  top:25px;
  transform:rotate(-45deg);
}

.tree_two {
  width:150px;
  height:200px;
  position:absolute;
  top:21%;
  left:0%;
  border-radius:50%;
  border-right:10px solid var(--black);
  transform:rotate(55deg);
}

.bird {
  width:15px;
  height:10px;
  border-top:2px solid var(--black);
  border-radius:50% 50% 0 0;
  position:absolute;
}
.bird:before {
  content:'';
  width:4px;
  height:4px;
  background:var(--black);
  position:absolute;
  left:12px;
  top:1px;
  border-radius:0 0 50% 50%;
}
.bird:after {
  content:'';
  width:15px;
  height:10px;
  border-top:2px solid var(--black);
  border-radius:50% 50% 0 0;
  position:absolute;
  left:13px;
  top:-2px;
}

.bird.one {
  top:20%;
  left:35%;
  transform:scale(1.25) rotate(-10deg);
}
.bird.two {
  top:35%;
  left:85%;
  transform:scale(1) rotate(10deg);
}
.bird.three {
  top:55%;
  left:18%;
  transform:scale(.75) rotate(-10deg);
}
.bird.four {
  top:65%;
  left:40%;
  transform:scale(.5);
}
.bird.five {
  top:60%;
  left:60%;
  transform:scale(.75) rotate(10deg);
}